Options -MultiViews -Indexes
Options +FollowSymLinks

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Enable HSTS header to increases security of your website & SEO
    <IfModule mod_headers.c>
        Header set Strict-Transport-Security "max-age=31536000; preload" env=HTTPS
    </IfModule>

    # Remove www subdomain in the URL
    RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
    RewriteRule ^(.*)$ https://%1/$1 [R=301,L]
</IfModule>
